body, p, h1, ul, li{
    margin : 0;
    padding : 0;
    
}
#page {
    margin: 0 !important ;
    margin-top: 75px !important ;
}
.item{
    max-height: 300px ;
    margin: auto ;
}
.item img{
    height: 300px ;
    margin: auto ;
   
}
#catalogue{
    margin-top: 25px ;
    border : 1px solid grey ;
    border-radius: 2px ;
    padding: 20px ;
    text-align: center;
}

#categorie{
    position: fixed;    
}
#contenu{
    margin-left: 20%;
}
#categorieNav{
    display: none;
}
#categorieNav h2{
    color: white;
}
@media (max-width: 990px) {
    #categorie {
    position: inherit;
    }
    #contenu{
        margin-left: auto;
    }
}
@media (max-width: 767px) {
    #categorieNav {
        display: block;
    }
    #categorie{
        display: none;
    }
}

#login{
    margin: auto ;
    
    
}
#login h1{
    text-align: center ;
}
#login form{
    
    margin: auto ;
}
#login label{
   
}
#validation{
    
    margin-top: 25px ;
}

